.container
{
display: flex;
background-color: black;
max-height: 9000px;

}
.karta
{
    display: flex;
    color: white;
    align-items: center;
    width: 1000px;
    height: 953px;
    flex-direction: column;
}
body
{
    margin: 0;
}